*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    margin-top: 30px  ;
    border-radius: 8px;
    text-align: center;
} 
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    
}
#title{
    padding-top: 50px;
    font-size: 40px;
}
.man{
    padding: 20px;

}
#img-div{
    background-color: white;
  border-radius: 2px;
  margin: 0 20px;
   
}
#img-caption{
 padding: 20px;
 margin-bottom: 15px;
}
#info{
    margin:28px 0 44px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
#tribute-info ul li{
    max-width: 550px;
    line-height:1.5 ;
    padding: 10px;
    margin: auto;
    text-align: start;
    justify-content: center;
    margin-left: 28em;
    font-size:17px;
    font-weight: 430;
}
#last{
    width: 40%;
    margin-left: 28em; 
  
    font-style: italic;
    padding: 30px;
    font-weight: 300;
   
}
#link{
    margin:28px 0 44px 0;
    text-align: center;
    font-size: 18px;
}
a{
    color:#477ca7;
    font-weight: bold;
    margin-left: 14px;
}





    




